* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* color del body*/
.color-body {
    background-color: #0D1117;
}
/* color de texto*/
.color-text {
    color: #F0F6FC;
}

/* alineacion de texto*/
body main .alineado {
    text-align: center;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    gap: 20px;
    padding: 80px;
}