
@use 'utilidades/variables';



/* body*/
html { height: 100%;}

     body { 
background-color: variables.$color1;

      main {
            
         background-color: variables.$color1;
         color: variables.$color2;
         p {
                text-align: center;
                padding: 20px;
         }
        
     } }

     /*main*/
     
main h1 {      
text-align: center;
padding: 30px;
  p{
    text-align: center;
    padding: 10px;
  }
}

  .contenedor {
     display: flex;
   flex-direction: row-reverse;
   flex-wrap:row;
   justify-content: center;
    align-items: center;
  
    img {  
     padding: 30px;
    }
p{
    text-align: center;
    padding: 20px;
    gap: 280px;
    color: variables.$color2;
  }
}
/*footer*/

footer{
    height: max-content;
    background-color: #0D1117;
    margin-top: 0%;
    gap: 300px;
    width: 100%;
    align-items: center;
    p {
        text-align: center;
        color: variables.$color2;
        gap: 300px;
    }
}
 /* estilos de resoluciones para moviles, tablets y computadoras*/
 @media screen and (max-width: 1200px) {
    .contenedor {
        flex-direction: column;
        gap: 20px;
    }
    .text {
        width: 100%;
    }
  
    
}
@media screen and (max-width: 576px) {
    .contenedor {
        flex-direction:row;
        gap: 10px;
    }
    .text {
        width: 100%;
    }
    footer {
        flex-direction: column;
        
    }
    
}

@media 
only screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        gap: 10px;
    }
    .text {
        width: 100%;
    }
    footer {
        flex-direction: column;
        
    }
    
}